{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 id="mids">Création de votre compte</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="button-group">
            <button type="submit">S'inscrire</button>
            <button type="button" id="rs" onclick="history.back()">Revenir en arrière</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
