{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 id="mids">Création de votre compte</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
